.dialogbox .MuiDialog-paper {
  background-color: #fff transparent; /* White background */
  color: #000; /* Black text */
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  min-width: 400px;
  gap: 10px;
  
}

.DileteDialog .MuiDialog-paper{
  min-width: 400px;
}


.dialog-content {
  padding-top: 10px;
  display: flex;
  flex-direction:column;
  gap: 16px;

  
}

.dialog-actions {
  align-items:end ;
  padding: 8px 10px;

}

.DTital{
  background-color: #000000;
  color: #ffffff;
  font-weight: 700;
}

